extends layout

block content
  h1= title
  if user
    p Welcome back, #{ user.username } (#{ user.first_name + " " + user.last_name}).
    a(href="/new-message") New message
  ul
    lh Messages
    each message in messages
      li User: #{ message.user.username } (#{ message.user.first_name + " " + message.user.last_name})
        br
        | Text: #{ message.text }
        br
        | Time: #{ message.date }
    each message in messages
      li User: #{ message.user.username } (#{ message.user.first_name + " " + message.user.last_name})
        br
        | Text: #{ message.text }
        br
        | Time: #{ message.date }
    each message in messages
      li User: #{ message.user.username } (#{ message.user.first_name + " " + message.user.last_name})
        br
        | Text: #{ message.text }
        br
        | Time: #{ message.date }
    each message in messages
      li User: #{ message.user.username } (#{ message.user.first_name + " " + message.user.last_name})
        br
        | Text: #{ message.text }
        br
        | Time: #{ message.date }
    each message in messages
      li User: #{ message.user.username } (#{ message.user.first_name + " " + message.user.last_name})
        br
        | Text: #{ message.text }
        br
        | Time: #{ message.date }
    each message in messages
      li User: #{ message.user.username } (#{ message.user.first_name + " " + message.user.last_name})
        br
        | Text: #{ message.text }
        br
        | Time: #{ message.date }
    each message in messages
      li User: #{ message.user.username } (#{ message.user.first_name + " " + message.user.last_name})
        br
        | Text: #{ message.text }
        br
        | Time: #{ message.date }
    each message in messages
      li User: #{ message.user.username } (#{ message.user.first_name + " " + message.user.last_name})
        br
        | Text: #{ message.text }
        br
        | Time: #{ message.date }