doctype html
html
  head
    title= "((members only))"
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600;700&family=Open+Sans:wght@300;400&family=Open+Sans&display=swap" rel="stylesheet")
    script(src="/javascripts/script.js") 
  body
    .header 
      a(href="/").logo ((members only))
      if user && !user.member
        a(href="/secret-club").join Gain member status
      else if user && user.member && !user.admin
        a(href="/admin-form").join Gain admin status
      .header-btn-group
        if user
          label.full-name-plate #{ user.first_name + " " + user.last_name }
          label.username-plate #{ user.username }
          a.log-out-btn(href="/log-out") Log Out
        else
          a.log-in-btn(href="/log-in") Log In
          a.sign-up-btn(href="/sign-up") Sign Up
    .main
      .main-content
        block content
        ul
          if errors
            each error in errors
              li #{ error.msg }
          if flash_messages
            each flash in flash_messages
              li #{ flash }
    .footer 
      div 
        | Made by 
        a(href="https://www.clarencechan.dev") Clarence Chan
        |  using MongoDB, Express, Node, and Passport.js.
      div 
        | View the code at this project's 
        a(href="https://github.com/clarencechaan/members-only") GitHub repo.